@media (max-width: 1380px){
  .nav {
    padding: 0 20rem;
  }
  
  .categories-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .categories {
    flex-wrap: wrap;
    width: 680px;
    min-width: 680px;
  }

  .footer {
    padding: 0 10rem;
  }
}

@media (max-width: 1200px){
  .nav {
    padding: 0 10rem;
  }
  .nav-cont {
    gap: 2rem;
  }
  .logo {
    height: 190px;
  }

  .main {
    padding: 0 10rem;
  }

  .footer {
    padding: 0;
  }
}

@media (max-width: 900px){
  .nav {
    padding: 0 6rem;
  }
  .logo {
    height: 180px;
  }
  .nav-links {
    position: absolute;
    top: 120px;
    right: -2px;
    width: 40%;
    flex-direction: column;
    background-color: var(--white-grey2);
    border: 2px solid var(--grey);
    border-top: 0px;
    border-radius: 0px 0px 0px 15px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
  }
  .bar {
    display: none;
  }

  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }
  .menu-label img {
    height: 20px;
    width: 25px;
  }
  .open-menu {
    display: flex;
  }
}

@media (max-width: 800px){
  .footer {
    flex-direction: column;
    height: auto;
    gap: 4rem;
    padding: 4rem 0;
    text-align: center;
  }
  .footer__form {
    margin: 0 auto;
  }
  .footer__social {
    justify-content: center;
  }
}

@media (max-width: 700px){
  .nav {
    padding: 0 4rem;
  }
  .nav-links__a:last-of-type {
    display: flex;
  }
  .nav-icons__login--a {
    display: none;
  }

  .main {
    padding: 0 2rem;
  }

  .categories {
    width: 340px;
    min-width: 340px;
  }
}

@media (max-width: 500px){
  .logo {
    height: 140px;
  }

  .main {
    padding: 0 4rem;
  }

  .cart {
    /* width: 100%; */
    min-width: 300px;
    left: 0;
    border-top: 1px solid var(--clear-grey);
    gap: 20px;
  }
  .cart-container {
    height: 200px;
  }
  .item-title {
    /* display: block;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 70px; 
    height: 4rem; 
    white-space: nowrap; */
    display: -webkit-box;
    max-width: 80px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
