:root {
  --dark-orange: #FF7B00;
  --orange: #FF8800;
  --clear-orange: #FF9500;
  --black: #212529;
  --dark-grey: #343A40;
  --grey: #495057;
  --clear-grey: #6C757D;
  --white: #F8F9FA;
  --white-grey1: #E9ECEF;
  --white-grey2: #DEE2E6;
  --white-grey3: #CED4DA;
}

* {
  margin: 0;
}
html {
  font-size: 62.5%;
}
html, body {
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Sans', sans-serif;
  background: var(--white-grey1);
  position: relative;
}
a {
  color: #FFF;
  text-decoration: none;
}


/** Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 30rem;
  border-bottom: 1px solid var(--clear-grey);
  z-index: 999;
}
.logo {
  height: 200px;
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav-links__a {
  font-size: 2rem;
  font-weight: 500;
  color: var(--grey);
}
.nav-links__a:last-of-type {
  display: none;
}
.nav-links__a:hover {
  color: var(--black);
}
.bar {
  height: 2.8rem;
  border: 1px solid var(--clear-grey);
}
.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.nav-icons__login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.nav-icons__login--a {
  font-weight: 500;
  background: rgb(255,109,0);
  background: linear-gradient(90deg, rgba(255,109,0,1) 0%, rgba(255,145,0,1) 100%);
  padding: 4px;
  border-radius: 6px;
}
.nav-icons__login--a:hover {
  color: var(--white-grey1);
}
.nav-icons__login--img {
  height: 26px;
}
.nav-icons__icon {
  height: 30px;
  cursor: pointer;
}
.nav-icons__icon:hover {
  opacity: 0.8;
}
.cart-quantity {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: var(--orange);
  color: white;
  padding: 0 5px;
  border-radius: 50%;
  font-size: 1.3rem;
  font-weight: 600;
}
.menu-label {
  display: none;
}
.link-cont {
  display: flex;
}


/** Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__banner {
  color: #FFF;
  background-color: var(--dark-orange);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-weight: 400;
}
.header__banner--b {
  font-weight: 600;
}
/** Carousel */
.carousel{
  height: auto;
  width: 100%;
  /* margin-top: 20px; */
  margin-bottom: 40px;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.carousel-inner{
  height: 100%;
  /* min-width: 400%; */
  display: flex;
  transition: all ease .5s;
}
.carousel-item{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner {
  width: 100%;
  height: auto;
}
.carousel-item h1{
  opacity: .5;
}
.carousel-controls .prev{
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/assets/img/prev.svg');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: .5;
}
.carousel-controls .next{
  display: inline-block;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/assets/img/next.svg');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: .5;
}
.prev:hover, .next:hover{
  opacity: 1;
}
.carousel-indicators{
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.carousel-indicators span{
  display: inline-block;
  background-color: white;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  opacity: .5;
  cursor: pointer;
  margin: 3px;
}
.carousel-indicators span.active{
  opacity: 1;
}


/** Main */
.main {
  padding: 0 20rem;
}
/** Productos nuevos y diseño del producto */
/* .news {} */
.news__title {
  margin-bottom: 4rem;
  /* border-bottom: 1px solid #ff5400; */
  border-width: 0 0 3px 0;
  border-style: solid;
  border-image: linear-gradient(to right, #ff5400, #ffc300) 1;
  padding-bottom: 1rem;
}
.news__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 6rem;
}
.product {
  background-color: #FFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.8rem;
  border-radius: 4px;
  max-width: 210px;
  min-height: 330px;
  gap: 1.2rem;
  box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5);
}
.product__img {
  width: 160px;
  margin: 0 auto;
}
.product__name {
  font-weight: 500;
  min-height: 60px;
  color: #212529;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product__price {
  font-weight: 600;
  font-size: 2rem;
}
.product__button {
  padding: 8px 0;
  background-color: var(--orange);
  color: #FFF;
  border: none;
  font-size: 1.4rem;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
}
.product__button:hover {
  background-color: var(--dark-orange);
}


/** Categorias */
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.category {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 2px;
  border: 1px solid #adb5bd;
  min-width: 140px;
  min-height: 140px;
  cursor: pointer;
}
.category:hover {
  border: 1px solid var(--clear-grey);
}
.category__img {
  width: 60px;
}
.category__name {
  font-weight: 500;
  margin-top: 1.8rem;
  color: var(--dark-grey);
}
.select {
  padding: -1px;
  border: 2px solid var(--dark-grey);
}
.select:hover {
  padding: -1px;
  border: 2px solid var(--dark-grey);
}
.cont-products {
  display: flex;
  justify-content: center;
  align-items: center;
}


/** Contenedor de productos */
.products {
  /* min-height: 400px;
  max-height: auto; */
  width: 100%;
  min-width: 300px;
  background-color: var(--white-grey2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  border-radius: 2px;
  margin-top: 4rem;
  padding: 4rem 0;
}


/** Footer */
.footer {
  background-color: #212529;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20rem;
  color: var(--white-grey2);
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 1rem
}
/* .footer__info--text {} */
.footer__info--title {
  color: var(--dark-orange);
  font-size: 1.8rem;
  font-weight: 500;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.footer__newsletter--title {
  font-weight: 500;
  font-size: 1.8rem;
}
/* .footer__newsletter--text {} */
.footer__form {
  display: flex;
}
.footer__form--input {
  padding: 1rem 6rem 1rem 1rem;
  border: none;
  background-color: var(--dark-grey);
  border-radius: 2px;
  color: #FFF;
}
.footer__form--input:focus {
  outline: none;
}
.footer__form--input::placeholder {
  color: var(--white-grey2);
}
.footer__form--btn {
  margin-left: -5px;
  border: none;
  padding: 0.6rem 1rem;
  background-color: var(--clear-orange);
  display: flex;
  align-items: center;
  border-radius: 0 2px 2px 0px;
  cursor: pointer;
}
.footer__form--btn:hover {
  background-color: var(--orange);
}
.footer__form--btn-img {
  width: 18px;
}
.footer__social {
  display: flex;
  gap: 0.6rem;
}
.footer__social--cont {
  background-color: var(--orange);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__social--cont:hover {
  background-color: var(--dark-orange);
}
.footer__social--img {
  width: 20px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.footer__links--a {
  color: var(--white-grey2);
}
.footer__links--a:hover {
  color: var(--white);
}

/** Modal agregado de productos */
.add-modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background-color: var(--dark-orange);
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  text-align: center;
  transform: translateY(200%);
  font-weight: 500;
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}


/** Slider marcas */
.slider {
  width: 100%;
  /* height: auto;
  margin: auto; */
  /* overflow-x: hidden; */
  margin: 4rem 0;
}
.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 20);
  gap: 10rem;
  height: 200px;
  justify-content: center;
  align-items: center;
}
/* .slider .slide {
  width: 200px;
}
.slider .slide img {
  width: 100%;
} */
.slide__img {
  max-width: 180px;
  max-height: 60px;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 10));
      transform: translateX(calc(-200px * 7));
  }
}


/** Menu Hamburguesa */
.burger {
  cursor: pointer;
}

.burger span{
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #212529;
  position: relative;
  top: 0;
  transition: all .3s ease-in-out;
}
.burger span:last-of-type {
  margin: 0;
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: -8px;
}


/** Carrito */
.cart {
  position: absolute;
  top: 120px;
  right: 0;
  padding: 30px 10px 0 30px;
  background-color: var(--white-grey1);
  border-left: 1px solid --clear-grey;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}
.cart-container {
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 1rem;
}
/* OCULTAR BARRA DE SCROLL DEL CARRITO */
/* .cart-container::-webkit-scrollbar {
  display: none;
} */
.cart-container::-webkit-scrollbar {
  width: 5px;
}
.cart-container::-webkit-scrollbar-thumb{
  background: var(--clear-grey);
  border-radius: 5px;
}
.cart h2 {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--white-grey3);
  padding: 20px;
  /* border: 1px solid var(--clear-grey); */
  border-radius: 10px;
}
.cart-item img {
  height: 65px;
  width: 65px;
}

.item-info {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.item-img {
  background-color: #FFF;
  padding: 2px;
  border-radius: 2px;
}
.item-title {
  color: var(--grey);
  font-weight: 600;
  font-size: 14px;
}
.item-price {
  color: var(--black);
  font-size: 16px;
  font-weight: 800;
}
.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  border-radius: 6px 6px 6px 6px;
  color: #FFF;
  font-weight: 500;
  font-size: 1.8rem;
  cursor: pointer;
}
.item-quantity {
  color: var(--black);
  padding: 0 1rem;
  font-weight: 500;
}

.up,
.down {
  /* border: 1px solid var(--grey); */
  background-color: var(--orange);
}
.up,
.down:hover {
  background-color: var(--dark-orange);
}
.divider {
  margin-top: 20px;
  border: 0.5px solid var(--dark-grey);
  width: 100%;
}
.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.cart-total p {
  color: var(--black);
  font-weight: 700;
}
.cart-total span {
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
}

/* Toggle del carro */
.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}
.empty-msg {
  color: var(--dark-grey);
  font-size: 1.6rem;
}

.btn-buy,
.btn-delete {
  cursor: pointer;
  padding: 10px 35px;
  color: var(--black);
  border-radius: 10px;
  border: none;
  transition: 0.3s all ease-out;
  font-weight: 600;
}
.btn-buy {
  background: var(--dark-orange);
  color: #FFF;
}
.btn-buy,
.btn-delete {
  width: 100%;
}
.btn-delete {
  border: 2px solid var(--dark-orange);
  background-color: transparent;
}
.btn-delete:hover {
  background: var(--dark-orange);
  transition: 0.3s all ease-in;
  color: #FFF;
}
.close-cart {
  cursor: pointer;
  font-weight: 500;
}

.overlay {
  position: absolute;
  top: 120px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1; /*Para que quede por encima del resto de las cosas*/
  
  /*Efecto de Glassmorphismo*/
  background: rgba(255, 255, 255, 0.05);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}
.show-overlay {
  display: block;
}

.disabled {
  background-color: var(--grey);
  color: white;
  cursor: not-allowed;
  border: none;
}
.disabled:hover {
  background-color: var(--clear-grey);
  color: white;
  cursor: not-allowed;
  border: none;
}


/** SweetAlerts */
.swal-button--confirm {
  background-color: #4ad66d;
}
.swal-button--confirm:not([disabled]):hover {
    background-color: #2dc653;
}
.swal-button--danger:not([disabled]):hover {
    background-color: #2dc653;
}
/* .swal-button:not([disabled]):hover {
    background-color: #2dc653;
} */